<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>로그인</title>
    <th:block th:replace="/fragment/header.html :: header"></th:block>
</head>
<body>
  <div>
    <form th:action="@{/member/login}" method="post">
        <div class="bg-grey-lighter min-h-screen flex flex-col">
            <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
                <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
                    <h1 class="mb-8 text-3xl text-center">Sign In</h1>
                    <div th:if="${param.error}">
                        <div class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert">
                        사용자 ID 또는 비밀번호를 확인해 주세요.
                        </div>
                    </div>
                    <label for="username">
                        <input
                                type="text"
                                id="username"
                                class="block border border-grey-light w-full p-3 rounded mb-4"
                                name="username"
                                placeholder="Your Id">
                    </label>
                    <label for="password">
                        <input
                                type="password"
                                id="password"
                                class="block border border-grey-light w-full p-3 rounded mb-4"
                                name="password"
                                placeholder="Your Password">
                    </label>
                    <button
                            type="submit"
                            class="w-full text-center py-3 rounded bg-rose-400 text-white hover:bg-green-dark focus:outline-none my-1"
                    >Sign In</button>
                </div>
                <div class="text-grey-dark mt-6">
                    아직 회원이 아니신가요?
                    <a class="no-underline border-b border-blue text-blue" href="/member/signup">
                        회원가입
                    </a>.
                </div>
            </div>
        </div>
    </form>
  </div>
</body>
</html>