<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>회원가입</title>
    <th:block th:replace="/fragment/header.html :: header"></th:block>
</head>
<body>
<form th:action="@{/member/signup}" method="post">
<!--    <div>-->
<!--        <label for="userId">사용자ID</label>-->
<!--        <input type="text" id="userId" name="userId">-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="nickname">닉네임</label>-->
<!--        <input type="text" id="nickname" name="nickname">-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="password1">비밀번호</label>-->
<!--        <input type="password" id="password1" name="password">-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="password2">비밀번호 확인</label>-->
<!--        <input type="password" id="password2" name="password2">-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="email">이메일</label>-->
<!--        <input type="email" id="email" name="email">-->
<!--    </div>-->
<!--    <button type="submit">회원가입</button>-->
    <!-- SignUp -->
    <div class="bg-grey-lighter min-h-screen flex flex-col">
        <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
            <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
                <h1 class="mb-8 text-3xl text-center">Sign up</h1>
                <label for="username">
                    <input
                            type="text"
                            id="username"
                            class="block border border-grey-light w-full p-3 rounded mb-4"
                            name="username"
                            placeholder="Your Id">
                </label>
                <label for="nickname">
                    <input
                            type="text"
                            id="nickname"
                            class="block border border-grey-light w-full p-3 rounded mb-4"
                            name="nickname"
                            placeholder="Your Nickname">
                </label>
                <label for="password1">
                    <input
                            type="password"
                            id="password1"
                            class="block border border-grey-light w-full p-3 rounded mb-4"
                            name="password1"
                            placeholder="Your Password">
                </label>
                <label for="password2">
                    <input
                            type="password"
                            id="password2"
                            class="block border border-grey-light w-full p-3 rounded mb-4"
                            name="password2"
                            placeholder="Your Password">
                </label>
                <label for="email">
                    <input
                            type="email"
                            id="email"
                            class="block border border-grey-light w-full p-3 rounded mb-4"
                            name="email"
                            placeholder="Your Email">
                </label>
                <button
                        type="submit"
                        class="w-full text-center py-3 rounded bg-rose-400 text-white hover:bg-green-dark focus:outline-none my-1"
                >Create Account</button>

                <div class="text-center text-sm text-grey-dark mt-4">
                    By signing up, you agree to the
                    <a class="no-underline border-b border-grey-dark text-grey-dark" href="#">
                        Terms of Service
                    </a> and
                    <a class="no-underline border-b border-grey-dark text-grey-dark" href="#">
                        Privacy Policy
                    </a>
                </div>
            </div>
            <div class="text-grey-dark mt-6">
                Already have an account?
                <a class="no-underline border-b border-blue text-blue" href="../login/">
                    Log in
                </a>.
            </div>
        </div>
    </div>
</form>

<!--푸터-->
<th:block th:replace="/fragment/footer.html :: footer"></th:block>

</body>
</html>